In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
## EDA

In [2]:
df = pd.read_csv(r"Dataset/train.csv")
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income_>50K'],
      dtype='object')

In [7]:
df.shape

(43957, 15)

In [9]:
df.workclass.value_counts()*100/len(df)

Private             69.583912
Self-emp-not-inc     7.880429
Local-gov            6.419910
State-gov            3.994813
Self-emp-inc         3.453375
Federal-gov          2.921036
Without-pay          0.045499
Never-worked         0.018200
Name: workclass, dtype: float64

In [10]:
df.education.value_counts()*100/len(df)

HS-grad         32.297473
Some-college    22.271766
Bachelors       16.422868
Masters          5.441682
Assoc-voc        4.165434
11th             3.746844
Assoc-acdm       3.291853
10th             2.843688
7th-8th          1.961007
Prof-school      1.701663
9th              1.556066
12th             1.335396
Doctorate        1.219373
5th-6th          1.064677
1st-4th          0.507314
Preschool        0.172896
Name: education, dtype: float64

In [11]:
df['marital-status'].value_counts()*100/len(df)

Married-civ-spouse       45.833428
Never-married            33.016357
Divorced                 13.583730
Widowed                   3.103033
Separated                 3.096208
Married-spouse-absent     1.296722
Married-AF-spouse         0.070523
Name: marital-status, dtype: float64

In [12]:
df.relationship.value_counts()*100/len(df)

Husband           40.378097
Not-in-family     25.754715
Own-child         15.551562
Unmarried         10.469322
Wife               4.756922
Other-relative     3.089383
Name: relationship, dtype: float64

In [13]:
df.race.value_counts()*100/len(df)

White                 85.474441
Black                  9.595741
Asian-Pac-Islander     3.123507
Amer-Indian-Eskimo     0.957754
Other                  0.848557
Name: race, dtype: float64

In [14]:
df.gender.value_counts()*100/len(df)

Male      66.883545
Female    33.116455
Name: gender, dtype: float64

In [15]:
df['native-country'].value_counts()*100/len(df)

United-States                 89.699024
Mexico                         2.001956
Philippines                    0.621061
Germany                        0.427691
Puerto-Rico                    0.379917
Canada                         0.359442
El-Salvador                    0.329868
India                          0.304843
Cuba                           0.282094
China                          0.257069
England                        0.247970
South                          0.238870
Dominican-Republic             0.220670
Jamaica                        0.220670
Italy                          0.213845
Japan                          0.188821
Guatemala                      0.179721
Vietnam                        0.175171
Columbia                       0.170621
Poland                         0.163796
Haiti                          0.161521
Portugal                       0.134222
Taiwan                         0.131947
Iran                           0.118297
Nicaragua                      0.104648
Greece                         0.100098
Ecuador                        0.095548
Peru                           0.090998
Ireland                        0.072798
France                         0.072798
Hong                           0.065974
Thailand                       0.065974
Cambodia                       0.054599
Trinadad&Tobago                0.050049
Honduras                       0.045499
Scotland                       0.043224
Yugoslavia                     0.043224
Outlying-US(Guam-USVI-etc)     0.043224
Laos                           0.043224
Hungary                        0.040949
Holand-Netherlands             0.002275
Name: native-country, dtype: float64

In [8]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K
count,43957.000000,4.395700e+04,43957.000000,43957.000000,43957.000000,43957.000000,43957.000000
mean,38.617149,1.896730e+05,10.074118,1093.559797,88.246491,40.407694,0.239279
std,13.734401,1.058215e+05,2.575092,7570.536063,404.588410,12.400303,0.426648
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.174960e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.781000e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.376710e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

## Data Cleaning

In [17]:
df.isna().sum()*100/len(df)

age                0.000000
workclass          5.682826
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         5.701026
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     1.735787
income_>50K        0.000000
dtype: float64

In [18]:
print(df.shape)
df.dropna(inplace=True)
print(df.shape)

(43957, 15)
(40727, 15)

In [22]:
df['native-country'] = np.where(df['native-country']!='United-States','NON_USA',df['native-country'])
df['race'] = np.where(df['race']!='White','NON_White',df['race'])

relationship_list = ['Husband','Not-in-family','Own-child']
df['relationship'] = np.where(df['relationship'].isin(relationship_list),df['relationship'],"other")


relationship_list = ['Husband','Not-in-family','Own-child']
df['relationship'] = np.where(df['relationship'].isin(relationship_list),df['relationship'],"other")

workclass_list = ['Private','Self-emp-not-inc']
df['workclass'] = np.where(df['workclass'].isin(workclass_list),df['workclass'],"other")

education_list = ['HS-grad','Some-college','Bachelors','Masters']
df['education'] = np.where(df['education'].isin(education_list),df['education'],"other")  
    

marital_list = ['Married-civ-spouse','Never-married']
df['marital-status'] = np.where(df['marital-status'].isin(marital_list),df['marital-status'],"other")

In [23]:
df.workclass.value_counts()*100/len(df)

Private             73.801164
other               17.840744
Self-emp-not-inc     8.358092
Name: workclass, dtype: float64

In [24]:
df.education.value_counts()*100/len(df)

HS-grad         32.683478
other           23.154173
Some-college    21.872468
Bachelors       16.723549
Masters          5.566332
Name: education, dtype: float64

In [25]:
df['marital-status'].value_counts()*100/len(df)

Married-civ-spouse    46.593169
Never-married         32.302895
other                 21.103936
Name: marital-status, dtype: float64

In [26]:
df.relationship.value_counts()*100/len(df)

Husband          41.287107
Not-in-family    25.850173
other            18.184497
Own-child        14.678223
Name: relationship, dtype: float64

In [27]:
df.race.value_counts()*100/len(df)

White        85.955263
NON_White    14.044737
Name: race, dtype: float64

In [28]:
df.gender.value_counts()*100/len(df)

Male      67.49822
Female    32.50178
Name: gender, dtype: float64

In [29]:
df['native-country'].value_counts()*100/len(df)

United-States    91.261325
NON_USA           8.738675
Name: native-country, dtype: float64

In [ ]:
## Preprocessing

In [33]:
df = pd.get_dummies(df,drop_first=True)

In [35]:
df.head(2)

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K,workclass_Self-emp-not-inc,workclass_other,education_HS-grad,...,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Not-in-family,relationship_Own-child,relationship_other,race_White,gender_Male,native-country_United-States
0,67,366425,16,99999,0,60,1,0,0,0,...,0,0,0,0,1,0,0,1,1,1
1,17,244602,8,0,0,15,0,0,0,0,...,0,0,0,0,0,1,0,1,1,1

In [36]:
# Multi collinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# compute the vif for all given features
def compute_vif(df,considered_features):
    
    X = df[considered_features]
    # the calculation of variance inflation requires a constant
    X['intercept'] = 1
    
    # create dataframe to store vif values
    vif = pd.DataFrame()
    vif["Variable"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif = vif[vif['Variable']!='intercept']
    return vif

In [39]:
considered_features = list(df.columns)
considered_features.remove('income_>50K')
compute_vif(df,considered_features).sort_values(by = 'VIF',ascending = False)

                        Variable       VIF
27    relationship_Not-in-family  6.883455
12  marital-status_Never-married  6.682757
28        relationship_Own-child  5.241970
13          marital-status_other  4.544861
29            relationship_other  4.216141
8              education_HS-grad  3.179293
11               education_other  2.832828
2                educational-num  2.367779
10        education_Some-college  2.335029
22     occupation_Prof-specialty  2.209334
15       occupation_Craft-repair  2.169222
16    occupation_Exec-managerial  2.048463
31                   gender_Male  1.958671
24              occupation_Sales  1.857741
20      occupation_Other-service  1.762022
19  occupation_Machine-op-inspct  1.574426
0                            age  1.560725
26   occupation_Transport-moving  1.511292
18  occupation_Handlers-cleaners  1.446707
17    occupation_Farming-fishing  1.410950
9              education_Masters  1.306216
25       occupation_Tech-support  1.248085
23    occupation_Protective-serv  1.220467
5                 hours-per-week  1.206383
7                workclass_other  1.182613
6     workclass_Self-emp-not-inc  1.144494
32  native-country_United-States  1.100082
30                    race_White  1.081747
21    occupation_Priv-house-serv  1.057703
3                   capital-gain  1.040219
1                         fnlwgt  1.020551
4                   capital-loss  1.018895
14       occupation_Armed-Forces  1.004649

In [40]:
considered_features = list(df.columns)
considered_features.remove('income_>50K')
considered_features.remove('relationship_Not-in-family')
compute_vif(df,considered_features).sort_values(by = 'VIF',ascending = False)

<ipython-input-36-fddd2b00bafd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['intercept'] = 1

                        Variable       VIF
8              education_HS-grad  3.178600
11               education_other  2.831702
2                educational-num  2.367637
10        education_Some-college  2.334039
22     occupation_Prof-specialty  2.208450
15       occupation_Craft-repair  2.169191
16    occupation_Exec-managerial  2.048396
12  marital-status_Never-married  1.946551
24              occupation_Sales  1.857243
30                   gender_Male  1.769153
20      occupation_Other-service  1.762018
27        relationship_Own-child  1.583753
19  occupation_Machine-op-inspct  1.574364
0                            age  1.558588
26   occupation_Transport-moving  1.511257
13          marital-status_other  1.473312
18  occupation_Handlers-cleaners  1.446215
28            relationship_other  1.439292
17    occupation_Farming-fishing  1.410947
9              education_Masters  1.306209
25       occupation_Tech-support  1.248082
23    occupation_Protective-serv  1.220450
5                 hours-per-week  1.205399
7                workclass_other  1.182517
6     workclass_Self-emp-not-inc  1.144341
31  native-country_United-States  1.099943
29                    race_White  1.080641
21    occupation_Priv-house-serv  1.057642
3                   capital-gain  1.040176
1                         fnlwgt  1.020536
4                   capital-loss  1.018771
14       occupation_Armed-Forces  1.004569

In [41]:
df.drop(columns = 'relationship_Not-in-family',inplace=True)

In [42]:
df.columns

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income_>50K', 'workclass_Self-emp-not-inc',
       'workclass_other', 'education_HS-grad', 'education_Masters',
       'education_Some-college', 'education_other',
       'marital-status_Never-married', 'marital-status_other',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'relationship_Own-child',
       'relationship_other', 'race_White', 'gender_Male',
       'native-country_United-States'],
      dtype='object')

In [ ]:
# Modelling

In [44]:
from sklearn.model_selection import train_test_split

X = df[considered_features]
y = df['income_>50K']

X_train, X_test, y_train, y_test = train_test_split(X,y , random_state=42, test_size=0.2)

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

# Initialize with whatever parameters you want to
clf = RandomForestClassifier()

param_grid = {
    'n_estimators': [50,100,1000],
    'max_depth': [2, 5, 7, 9]
}


grid_clf = GridSearchCV(clf, param_grid, cv=5, verbose = 2,n_jobs=-1)
grid_clf.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [2, 5, 7, 9],
                         'n_estimators': [50, 100, 1000]},
             verbose=2)

In [62]:
grid_clf.best_estimator_
grid_clf.best_score_

0.8557746030050509

In [64]:
feature_importances_df = pd.DataFrame(zip(X_train.columns, grid_clf.best_estimator_.feature_importances_)
                                      , columns=['feature', 'importance']).sort_values(by = 'importance',ascending = False)
feature_importances_df['importance'] = feature_importances_df['importance']*100
feature_importances_df['CUMSUM'] = feature_importances_df['importance'].cumsum()
feature_importances_df

                         feature  importance      CUMSUM
3                   capital-gain   21.575703   21.575703
2                educational-num   14.772160   36.347863
12  marital-status_Never-married   13.820083   50.167946
0                            age    9.192639   59.360585
13          marital-status_other    8.801588   68.162174
5                 hours-per-week    5.648697   73.810870
4                   capital-loss    4.804889   78.615759
30                   gender_Male    4.450724   83.066483
16    occupation_Exec-managerial    3.404606   86.471088
27        relationship_Own-child    2.669545   89.140633
22     occupation_Prof-specialty    2.317119   91.457752
20      occupation_Other-service    1.100040   92.557792
9              education_Masters    1.093532   93.651325
8              education_HS-grad    1.023410   94.674735
1                         fnlwgt    1.007651   95.682386
28            relationship_other    0.946840   96.629226
11               education_other    0.629047   97.258273
7                workclass_other    0.539014   97.797287
6     workclass_Self-emp-not-inc    0.383063   98.180350
10        education_Some-college    0.329934   98.510285
17    occupation_Farming-fishing    0.225266   98.735550
29                    race_White    0.203951   98.939501
18  occupation_Handlers-cleaners    0.181409   99.120909
24              occupation_Sales    0.172163   99.293073
31  native-country_United-States    0.143201   99.436274
25       occupation_Tech-support    0.142711   99.578985
19  occupation_Machine-op-inspct    0.135600   99.714586
15       occupation_Craft-repair    0.132827   99.847413
26   occupation_Transport-moving    0.092532   99.939945
23    occupation_Protective-serv    0.054182   99.994127
21    occupation_Priv-house-serv    0.004729   99.998856
14       occupation_Armed-Forces    0.001144  100.000000

In [65]:
feature_importances_df = feature_importances_df[feature_importances_df['CUMSUM']<85]
feature_importances_df

                         feature  importance     CUMSUM
3                   capital-gain   21.575703  21.575703
2                educational-num   14.772160  36.347863
12  marital-status_Never-married   13.820083  50.167946
0                            age    9.192639  59.360585
13          marital-status_other    8.801588  68.162174
5                 hours-per-week    5.648697  73.810870
4                   capital-loss    4.804889  78.615759
30                   gender_Male    4.450724  83.066483

In [66]:
cols_final = feature_importances_df['feature'].values.tolist()
X_train = X_train[cols_final]
cols_final

['capital-gain',
 'educational-num',
 'marital-status_Never-married',
 'age',
 'marital-status_other',
 'hours-per-week',
 'capital-loss',
 'gender_Male']

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

# Initialize with whatever parameters you want to
clf = RandomForestClassifier()

param_grid = {
    'n_estimators': [50,100,1000],
    'max_depth': [2, 5, 7, 9]
}


grid_clf = GridSearchCV(clf, param_grid, cv=5, verbose = 2,n_jobs=-1)
grid_clf.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [2, 5, 7, 9],
                         'n_estimators': [50, 100, 1000]},
             verbose=2)

In [69]:
grid_clf.best_score_

0.8548844863690779

In [88]:
test = {'capital-gain': 999999,
 'educational-num': 7,
 'marital-status_Never-married': 0,
 'age': 23,
 'marital-status_other': 1,
 'hours-per-week': 35,
 'capital-loss': 0,
 'gender_Male': 1}
test = pd.DataFrame(test,index=['i',])
test

,capital-gain,educational-num,marital-status_Never-married,age,marital-status_other,hours-per-week,capital-loss,gender_Male
i,999999,7,0,23,1,35,0,1

In [91]:
grid_clf.best_estimator_.predict_proba(test)

array([[0.17166093, 0.82833907]])

In [ ]:
#  Model Saving

In [95]:
import pickle

filename = 'income_classifier.pkl'
pickle.dump(grid_clf.best_estimator_, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model.predict_proba(test)

array([[0.17166093, 0.82833907]])

In [7]:
test = test.values.tolist()

In [9]:
test

[[999999, 7, 0, 23, 1, 35, 0, 1]]

In [8]:
loaded_model.predict_proba(test)

array([[0.17166093, 0.82833907]])